@use '../../../assets/scss/variables' as *; 


.active {
    background-color: $white;
}

.not-active {
    background-color: $light-gray;
}

.altezza {
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}



