@use '../../../assets/scss/variables' as *; 


.carousel-container {
    position: relative;
    z-index: 10;
    margin-top: -100vh;
    // transition: 5s;
}

.active {
    background-color: $white;
}

.not-active {
    background-color: $light-gray;
}



