@use '../../../assets/scss/variables' as *; 


.carousel-container {
    position: relative;
    z-index: 10;
    margin-top: -100vh;
    // transition: 5s;
}

.active {
    background-color: $white;
}

.not-active {
    background-color: $light-gray;
}

.altezza {
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    // overflow-x: hidden;
}

.carousel-container-over {
    z-index: 99;
}

.carousel-container-not-over {
    z-index: 2;
}


