
@use '../../../assets/scss/variables' as *;


.title-cards-menu{
    border-bottom: 2px solid $green;
}


.card-title::first-letter {
    text-transform: capitalize;
}
.img-card-menu-container {
    width: 100px;
}

