

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&display=swap');

//font
$font-title: 'Bebas Neue', sans-serif;
$font-general:'Oswald', sans-serif;

$font-size-one: 6rem; 
$font-size-two: 4.5rem; 
$font-size-three: 3rem; 
$font-size-four: 2rem; 
$font-size-five: 1.5rem; 
$font-size-six: 1rem; 



//colors
$light-gray: #ffffff8c;

$yellow: #F2C84B;
$red: #F24822;
$black: #404040;
$white: #F2F2F2;
$light-red: #F25252;
$pink: #F2BFB3;
$green: #7DA641; 

$light-green: #7da64145;