


    <div class="card mb-3 w-75 mx-auto mb-5">
        <div class="row g-0 row-cols-1 row-cols-lg-2">
          <div class="col d-md-flex justify-content-md-center align-items-md-center bg-light">
            <img src="../../../assets/images/cuoco.jpg" class="img-fluid rounded p-md-4" alt="...">
          </div>
          <div class="col bg-light d-flex flex-column align-items-center justify-content-center p-5">
            <div class="card-body d-flex  flex-column justify-content-center">
              <h5 class="card-title fw-bold text-center fs-4"> ORARI DI APERTURA</h5>
              <p class="card-text text-center fs-5">dal Lunedì al Venerdì 19.00 - 23.30 <br> (la cucina chiude alle 22.30) </p>
              <p class="card-text text-center fs-5">Sabato, Domenica e Festivi 20.00 - 00.30 <br> (la cucina chiude alle 23.30) </p>
            
            </div>
          </div>
        </div>
      </div>


<div class="header-dummy"></div>


