<div class="container-fluid w-100 bg-dark d-flex flex-column justify-content-center p-4">
    <div class="row d-flex flex-column gap-4">
        <article class="col d-flex flex-column align-items-center gap-4" >
            <h3 class= 'text-light text-center font-title fs-4'id="contatti"> LA CASA DI MONTALBANO </h3>
            <address class= 'text-light text-center'> Via A. Camilleri, 93 - Vigata (RG) </address>
            <div class="d-flex flex-column g-2 w-100 gap-2 align-items-center">      
                <button class="btn btn-warning w-50 d-flex justify-content-center gap-2"> <i class="bi bi-geo-alt"></i> DOVE SIAMO </button>
                <button class="btn btn-warning w-50 d-flex justify-content-center gap-2"> <i class="bi bi-person-lines-fill"></i> CONTATTACI </button>
            </div>
        </article>
        <article class="col d-flex flex-column align-items-center gap-4"id="prenota">
            <h3 class="text-light text-center font-title fs-4"> PRENOTA ORA! </h3>
            <p class="text-center text-light"> Tel: 02-123456</p>
            <button class="btn btn-warning w-50 d-flex justify-content-center gap-2"> <i class="bi bi-telephone-inbound-fill"></i> CHIAMA </button>
        </article>
    </div>
</div>
