@use '../../../assets/scss/variables' as *;



.title-cards-menu{
    border-bottom: 2px solid $yellow;
}

.img-card-menu-container {
    width: 100px;
}

.text-card-menu-container{
    width: 200px;
}

.img-card-menu {
    max-width: 100px;

}