@use '../../../assets/scss/variables' as * ;



.font-header {
    font-family: $font-title;
}


// effetto al passaggio del mouse su voce menu
.item:hover {
    cursor: pointer;
    
}

.item {
    display: block;
    color: $light-gray;
    text-decoration: none;
    text-transform: uppercase;
}

.item:after {
    display: block;
    content: '';
    border-bottom: 3px solid $yellow;
    
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}


.item:hover:after {  
    transform: scaleX(1);
    cursor: pointer;
}

.from-center:after {
    transform-origin: 50% 50%;
}

.active {
    border-bottom: 3px solid $yellow;
}


.scrolled {
    position: fixed;
    height: 65.98px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    bottom: auto;
}



.not-scrolled {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9999;
}



// header-dummy definita globalmente in style.scss 