


<!-- posizionare la header in alto quando scrolliamo la pagina -->
<header [ngClass]="{'not-scrolled': !scrolling, 'scrolled': scrolling}">
  <!-- far scendere il collapse quando clicchiamo sull'hamburger menu -->
  <div *ngIf="collapse" data-bs-theme="dark" (click)="closeCollapse($event)">
    <div class="bg-dark p-4">
        <!-- LOGO COLLAPSE HOME -->
        <!-- <h5 class="text-body-emphasis h4 text-uppercase tw-bold">La casa di Montalbano</h5> -->
          <div class="d-flex gap-2 flex-wrap">
            <a class="item from-center" routerLink = 'home'  routerLinkActive="active" [routerLinkActiveOptions] = '{exact: true}'> Home</a> 
            
            <a *ngFor= "let card of cards; let i = index" class="item from-center" routerLink = 'home' fragment="{{card.id}}" (click)="setIndex(i)" [ngClass]="selectedIndex === i ? 'active': ''" > {{card.title}} </a> 
            
            <!-- MENU HOME -->
            <ng-container *ngIf="isRouteActive('home')">
              <a class="item from-center" routerLink = 'home'  routerLinkActive="active" [routerLinkActiveOptions] = 'linkActiveOptions' fragment="contatti" > Contatti</a> 
              <a class="item from-center" routerLink = 'home'  routerLinkActive="active" [routerLinkActiveOptions] = 'linkActiveOptions' fragment="contatti" fragment="prenota" > Prenota</a>  
            </ng-container>
            
            <!-- MENU PIZZERIA -->
            <ng-container *ngIf="isRouteActive('/menu-pizzeria')">
              <a class="item from-center" routerLink = '/menu-pizzeria'  routerLinkActive="active" [routerLinkActiveOptions] = 'linkActiveOptions' fragment="contatti" fragment="contatti" > Contatti</a> 
              <a class="item from-center" routerLink = '/menu-pizzeria'  routerLinkActive="active" [routerLinkActiveOptions] = 'linkActiveOptions' fragment="contatti" fragment="prenota" > Prenota</a>  
            </ng-container>

            <!-- MENU RISTORANTE -->
            <ng-container *ngIf="isRouteActive('/menu-ristorante')">
              <a class="item from-center" routerLink = '/menu-ristorante'  routerLinkActive="active" [routerLinkActiveOptions] = 'linkActiveOptions' fragment="contatti" fragment="contatti" > Contatti</a> 
              <a class="item from-center" routerLink = '/menu-ristorante'  routerLinkActive="active" [routerLinkActiveOptions] = 'linkActiveOptions' fragment="contatti" fragment="prenota" > Prenota</a>  
            </ng-container>
          
          </div>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      
      <!-- HAMBURGER MENU + HEADER TITLE  -->
      <div class="container-fluid d-flex justify-content-center align-items-center">
        <p *ngIf="scrolling" class="text-white-50 fs-6 position-absolute mt-1 font-header text-center"> La casa di Montalbano  <br> Via A. Cammilleri, 93  - Vigata (RG)</p>
        <img src="../../../assets/images/logo.png" alt="" style="max-width: 50px;">
        <button class="navbar-toggler mt-1 ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon " (click)="onToggleMenu()"></span>
          </button>
      </div>
  </nav>
  
  
  
</header>
  
<div class="header-dummy"></div>
  
  
  
  