<!-- https://www.settimoristorante.it/contattaci/  -->

<div>
    <h1> Contattaci </h1>
    <h2> la casa di montalbano - ristorante e pizzeria </h2>
    <section>
        <p> <span>Aperto tutti i giorni dell'anno </span> dalle 20.00 alle 23.00 </p>
        <address> Via A. Cammilleri, 93 - Vigata (RG) </address>
        <p> Email: <span>lacasadimontalbano@zingaretti.it </span></p>
        <p> Tel: 02-123456 </p>
    </section>
</div>

<form action="">
    <ul>
        <li>
            <label for=""> Nome </label>
            <input type="text" placeholder="inserisci nome">
            
        </li>
        <li>
            <label for=""> Cognome </label>
            <input type="text" placeholder="inserisci cognome">
            
        </li>
        <li>
            <label for=""> Email </label>
            <input type="email" placeholder="inserisci la tua email">
            
        </li>
        <li>
            <label for=""> Telefono </label>
            <input type="number" placeholder="inserisci il tuo numero di telefono">

        </li>
        <li>
            <label for=""> Messaggio </label>
            <textarea name="" id="" cols="30" rows="10" placeholder="scrivi qui il tuo messaggio"></textarea>

        </li>
        <li>
            <label for=""> Consenso a ricevere mail per marketing</label>
            <input type="name" type="checkbox" value="Accetto">
            
        </li>
        <li>
            <label for=""> Privacy policy </label>

        </li>
        <li>

        </li>
    </ul>

    <p>Letta l' <span> Informativa Privacy</span>, cliccando su "accetto" acconsento al trattamento dei miei dati personali per i fini marketing e commerciali.</p>
    <button type="submit"> Invia </button>
</form>
