

<div class="my-5">


    <div class="container-fluid d-flex flex-column align-items-center gap-3 p-5">
        <h1 class="text-warning fw-bold fs-2 mb-4"> Contattaci </h1>
        <h2 class="text-uppercase font-header text-center" > la casa di montalbano <br> ristorante e pizzeria </h2>
        <section class="text-center d-flex flex-column gap-2">
            <p class="fs-5 fw-bold"> Aperto tutti i giorni  </p>
            <address class="fs-5 fst-italic"> Via A. Cammilleri, 93 - Vigata (RG) </address>
            <p class="fs-5"> Email: <span class="fw-bold text-primary">lacasadimontalbano@cammilleri.it </span></p>
            <p class="fs-5"> Telefono: 02-123456 </p>
        </section>
    </div>
    
    <app-form></app-form>
    
    <app-card></app-card>

</div>

