@use '../../../assets/scss/variables' as *;



.font-header {
    font-family: $font-title;
}


.hero-container {
    padding-bottom: 100vh;
    position: relative;
    z-index: 10;
    height: 100vh;
    overflow: auto;  
    transition: all 5s linear;  
}

// si attiva quando si triggera la funzione dell'Host Listener  
.hero-container-over {
    pointer-events: none
}

.hero-container-down {
    position: relative; 
    
    height: 100vh;
  
}
.hero-container-up {
    transition: all 2s linear;  
    // padding-bottom: 0;
    height: 0;
    bottom: 100vh;
    z-index: 1;
    // pointer-events: none
}

.hero-vh {
    position: relative; 
    height: 100vh;
}

.hero-logo {
    height: 100%;
    display: table;
    width: 100%;
}



