@use '../../../assets/scss/variables' as *;



.font-header {
    font-family: $font-title;
}


.hero-container {
    padding-bottom: 100vh;
    position: relative;
    z-index: 10;
    height: 100%;
    overflow: auto;    
}

// si attiva quando si triggera la funzione dell'Host Listener  
.hero-container-over {
    pointer-events: none
}


.hero-vh {
    height: 100vh;
    position: relative; 
}

.hero-logo {
    height: 100%;
    display: table;
    width: 100%;
}



