<div class="container w-100 h-100 d-flex flex-lg-row  flex-column gap-5 justify-content-center align-items-lg-center">
    <section class="w-25 mx-auto">
        <img src="../../../assets/images/chef-not-found.png" class="w-100"alt="">
    </section>
    <section class="d-flex flex-column gap-3 align-items-center">
        <h1 class="text-center fw-bold"> OPS! PAGINA <br> NON TROVATA.</h1>
        <!-- <h1 class="text-center fw-bold">  </h1> -->
        <p class=" text-center w-75 " >Forse hai aperto la finestra sbagliata, perchè non sono riuscito a trovare la pagina che cercavi.</p>
        <button class="btn btn-warning text-uppercase w-50" (click)="onBackHome()"> Torna alla home </button>
    </section>
</div>
