<app-hero></app-hero>
<app-carousel></app-carousel>


        <section class="col col-lg-6 mx-auto container-lg d-flex flex-column align-items-center gap-2 gap-lg-5 mb-5">
        
            <div *ngFor="let card of cards" class="card border border-0" style="width: 18rem; padding-top: 70px;" id="{{card.id}}">
        
                <div class="w-100 d-flex justify-content-center" >
                    <img src= '../../../assets/images/icons/{{card.image}}.png' class="img-fluid ico-img" alt="...">
                </div>
                <div class="card-body d-flex flex-column justify-content-center p-5">
                  <h5 class="card-title text-center fw-bold">{{card.title}}</h5>
                  <p class="card-text text-center">{{card.description}}</p>
                </div>
                
                
                
                <div *ngIf= "(card.title === 'Pizzeria' || card.title === 'Ristorante')" class="cube w-25 text-center mx-auto" >
                 
                    <ng-container *ngIf= "(card.title === 'Pizzeria')" >
                    <div class="flippety d-flex align-items-center justify-content-center  border border-2 border-warning p-2">
                        <p class="fs-6 fw-bold text-uppercase "> Menu </p>
                    </div>
                    <div class="flop d-flex align-items-center justify-content-center  text-uppercase bg-warning border border-2 border-warning">
                        <p class="fs-6 fw-bold text-uppercase p-2" (click)="goToPizzeria()"> Menu </p>
                    </div>
                     </ng-container>
                 
                     <ng-container *ngIf= "(card.title === 'Ristorante')" >
                         <div class="flippety d-flex align-items-center justify-content-center  border border-2 border-warning p-2">
                             <p class="fs-6 fw-bold text-uppercase "> Menu </p>
                         </div>
                         <div class="flop d-flex align-items-center justify-content-center  text-uppercase bg-warning border border-2 border-warning">
                             <p class="fs-6 fw-bold text-uppercase p-2" (click)="goToRistorante()"> Menu </p>
                         </div>
                     </ng-container>
                </div>
             
        
            </div>
                
        </section>
        






