@use '../src/assets/scss/variables' as *; 
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

// TODO: VARIABILE GLOBALE FONT-HEADER
body, html {
    height: 100%;
}
body {
    font-family: $font-general;
    background-color: $white;

        

}


h1, h2, h3, h4, h5, h6, p, address {
    margin: 0;
    padding: 0;
}

.margin-top {
    margin-top: 60px;
}

*::-webkit-scrollbar {
    display: none; 
}


.header-dummy{
    height: 65.98px;
}